<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p>{{serverCreationStatus}} with name {{serverName}}</p>
<p *ngIf="serverCreated;else noServer">Server was created with name {{serverName}}</p>
<ng-template #noServer>
    <p>No Server was created</p>
</ng-template>
<label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName" (input)="onUpdateUserName($event)" />
<button class="btn btn-primary" [disabled]="!allowUserNameButton" (click)="onResetUserName()">Reset Username</button>
<p>User name {{userName}}</p>
<app-server *ngFor="let server of servers"></app-server>

<hr>
<!-- <button class="btn btn-primary" (click)="isSecButtonPressed= !isSecButtonPressed">Display Details</button> -->
<button class="btn btn-primary" (click)="onSecPassButtonPressed()">Display Details</button>
<p *ngIf="isSecButtonPressed">Secret Password=tuna</p>
<div *ngFor="let secLog of secButtonLog; let i =index"
    [ngStyle]="{backgroundColor: i>=4?'blue':'transparent'}"
    [ngClass]="{'white-text':i>=4}">{{secLog}}</div>